A:link {COLOR: #00007f; TEXT-DECORATION: none}
A:visited {COLOR: #007f00; TEXT-DECORATION: none}
A:hover {COLOR: #007fff; TEXT-DECORATION: none}
A:active {COLOR: #7f0000; TEXT-DECORATION: none}
P  { text-indent: 0em; line-height: 150%; }
H1 {COLOR: #7f0000}
H2 {COLOR: #7f0000}
H3 {COLOR: #7f0000}
HR {COLOR: #00007f}
